@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
} */

html,
body,
#root {
  height: 100%;
  background-color: #141414;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
